<mat-toolbar class="custom-navbar">
  <div class="brand-container" style="cursor: pointer;" routerLink="/">
    <mat-icon class="brand-icon">nights_stay</mat-icon> 
    <span class="brand-name">Noctuwell</span>
    @if (HayUsuario()) {
      <span class="user-info">
        {{userName}} | {{userRole}}
      </span>
    }
  </div>

  <span class="spacer"></span>

  @if (HayUsuario()) {
    <div class="nav-actions">
      <button mat-icon-button routerLink="/home" matTooltip="Ir al Inicio">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="Logout()" matTooltip="Cerrar Sesión" class="logout-btn">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }
</mat-toolbar>