.main-container {
    padding: 20px;
    background-color: #f5f7fa;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.card-header {
    background-color: white;
    padding: 24px;
    border-bottom: 1px solid #eee;
}

.card-header mat-card-title {
    color: #3f51b5;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-header mat-card-subtitle {
    color: #7f8c8d;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.full-width {
    width: 100%;
}

.card-actions {
    padding: 16px 24px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-radius: 0 0 12px 12px;
}

button {
    font-weight: 500;
    letter-spacing: 0.5px;
}

button[mat-flat-button][color="primary"] {
    background-color: rgb(44, 14, 216) !important;
    color: white !important;
}


button[mat-button][color="warn"] {
    color: #f44336 !important;
}


.card-header mat-card-title {
    color: rgb(44, 14, 216) !important;
}