<div class="main-container">
  <mat-card class="form-card">
    <mat-card-header class="card-header">
      <mat-card-title>
        {{ patientId > 0 ? "Editar" : "Registrar" }} Paciente
      </mat-card-title>
      <mat-card-subtitle
        >Información personal y asignación de cuenta</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      @if (crudForm) {
      <form [formGroup]="crudForm" class="form-content">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Id</mat-label>
          <input
            matInput
            formControlName="id"
            readonly
            style="color: #999999"
          />
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>

        <div class="row-fields" style="display: flex; gap: 15px">
          <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              formControlName="firstName"
              placeholder="Ej. María"
            />
            @if (crudForm.get('firstName')?.hasError('required')) {
            <mat-error>Requerido</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Apellido</mat-label>
            <input
              matInput
              formControlName="lastName"
              placeholder="Ej. Fernández"
            />
            @if (crudForm.get('lastName')?.hasError('required')) {
            <mat-error>Requerido</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row-fields" style="display: flex; gap: 15px">
          <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Género</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Femenino</mat-option>
            </mat-select>
            @if (crudForm.get('gender')?.hasError('required')) {
            <mat-error> Seleccione un género </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              formControlName="phone"
              placeholder="999888777"
              type="tel"
              maxlength="9"
              (keypress)="onlyNumbers($event)"
            />
            <mat-icon matSuffix>phone</mat-icon>

            <mat-error *ngIf="crudForm.get('phone')?.hasError('required')">
              El número de teléfono es obligatorio.
            </mat-error>
            <mat-error *ngIf="crudForm.get('phone')?.hasError('pattern')">
              El teléfono debe ser solo números y tener exactamente 9 dígitos.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row-fields" style="display: flex; gap: 15px">
          <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Peso (kg)</mat-label>
            <input matInput type="number" formControlName="weight" />
            <mat-icon matSuffix>fitness_center</mat-icon>
            <mat-error *ngIf="crudForm.get('weight')?.hasError('required')">
              El peso es obligatorio.
            </mat-error>
            <mat-error *ngIf="crudForm.get('weight')?.hasError('min')">
              El peso debe ser al menos 1 kg.
            </mat-error>
            <mat-error *ngIf="crudForm.get('weight')?.hasError('max')">
              El peso no puede exceder los 300 kg.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 50%">
            <mat-label>Altura (cm)</mat-label>
            <input matInput type="number" formControlName="height" />
            <mat-icon matSuffix>straighten</mat-icon>
            <mat-error *ngIf="crudForm.get('height')?.hasError('required')">
              La altura es obligatoria.
            </mat-error>
            <mat-error *ngIf="crudForm.get('height')?.hasError('min')">
              La altura debe ser al menos 30 cm.
            </mat-error>
            <mat-error *ngIf="crudForm.get('height')?.hasError('max')">
              La altura no puede exceder los 250 cm.
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fecha de nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="pickerBirth"
            formControlName="birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerBirth"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerBirth></mat-datepicker>

          <mat-error *ngIf="crudForm.get('birthDate')?.hasError('required')">
            Seleccione una fecha
          </mat-error>
          <mat-error *ngIf="crudForm.get('birthDate')?.hasError('underage')">
            El paciente debe ser mayor de 18 años
          </mat-error>
          <mat-error
            *ngIf="crudForm.get('birthDate')?.hasError('matDatepickerMax')"
          >
            La fecha de nacimiento no puede ser futura
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuario Asociado</mat-label>
          <mat-select formControlName="userId">
            <mat-option
              *ngFor="let user of listaUsuariosDisponibles"
              [value]="user.id"
            >
              {{ user.username }} (ID: {{ user.id }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="crudForm.get('userId')?.hasError('required')">
            Asigne un usuario
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Plan</mat-label>
          <mat-select formControlName="planId">
            <mat-option *ngFor="let plan of listaPlanes" [value]="plan.id">
              {{ plan.name }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>card_giftcard</mat-icon>

          <mat-error *ngIf="crudForm.get('planId')?.hasError('required')">
            Asigne un plan
          </mat-error>
        </mat-form-field>
      </form>
      }
    </mat-card-content>

    <mat-card-actions align="end" class="card-actions">
      <button mat-button color="warn" routerLink="/patient-list">
        CANCELAR
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="Grabar()"
        [disabled]="crudForm.invalid"
      >
        GRABAR
      </button>
    </mat-card-actions>
  </mat-card>
</div>
