
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #eceff1 0%, #cfd8dc 100%);
}


.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: white !important;
    box-shadow: 0 10px 40px rgba(44, 14, 216, 0.15);
    text-align: center;
}


.login-header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background-color: rgba(44, 14, 216, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon-circle mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
    color: rgb(44, 14, 216);
}

.login-header h2 {
    color: rgb(44, 14, 216);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}

.login-header p {
    color: #78909c;
    margin-top: 5px;
}


mat-form-field {
    width: 100%;
    margin-bottom: 5px;
}

mat-icon {
    color: #78909c;
}


.login-btn {
    width: 100%;
    padding: 22px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 10px;
    background: linear-gradient(135deg, rgb(44, 14, 216) 0%, rgb(80, 50, 240) 100%);
    border-radius: 30px;
}


::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #f8f9fa !important;
}