.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.chat-header {
  padding: 15px;
  background-color: rgb(44, 14, 216);
  color: white;
  border-radius: 8px 8px 0 0;
}

.messages-list {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.message-row {
  display: flex;
  width: 100%;
}

.row-me {
  justify-content: flex-end;
}

.row-other {
  justify-content: flex-start;
}


.message-bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}


.row-me .message-bubble {
  background-color: #dcf8c6;
  border-bottom-right-radius: 0;
}

.row-other .message-bubble {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
}

.msg-sender {
  font-weight: bold;
  font-size: 0.8rem;
  color: #e54242;
  margin-bottom: 2px;
}

.msg-date {
  font-size: 0.7rem;
  color: #777;
  text-align: right;
  margin-top: 5px;
}

.input-area {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.input-area button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #075e54;
  color: white;
  cursor: pointer;
}

.input-area button:disabled {
  background-color: #ccc;
}